#contact{
    display: flex;
    justify-content: center;
}
.contact-container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
}

.contact-form h1{
    text-align: center;
    margin-bottom: 50px;
}
.contact-form-input{
    display: flex;
    flex-direction: column;
    margin: 20px 0;

}
.contact-form-input input, .contact-form-input select{
    padding: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
.contact-form-input textarea{
    height: 200px;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 5px;
}
.contact-submit{
    text-align: end;
    margin-top: 50px;
}
.contact-submit button{
    background-color: black;
    color: white;
    padding: 5px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
}
.contact-submit button:hover{
    background-color: grey;
}


@media only screen and (max-width: 900px) {
    .contact-container{
        width: 80vw;
    }
}