@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #E3E7EB;
    margin: 0;
    padding: 0;
}


/* ----------NAVBAR SECTION---------- */

#navbar {
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.navbar-container {
    width: 1150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left ul {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navbar-left ul li {
    list-style: none;
    margin-right: 40px;
    align-items: center;
}
.navbar-left ul li a {
    color: black;
}
.logo{
    margin-top: 5px;
    height: 25px;
}
.active{
    font-weight: bold;
}
.navbar-right a{
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
}
.navbar-right a:hover{
    background-color: grey;
}

.navbar-humberger{
    display: none;
}
.navbar-humberger button {
    border: none;
    background-color: white;
}
.navbar-humberger button img{
    width: 20px;
    background-color: white;
}
.navbar-humberger-list{
    width: 100vw;
    background-color: #D3D3D3;
    display: none;
}
.navbar-humberger-list a{
    color: black;
    display: block;
    text-align: center;
    justify-content: space-between;
    padding: 15px 0;
}

/* ----------CARDBOARD SECTION---------- */
#cardboard {
    display: flex;
    width: 1150px;
    background-color:#FFFFFF;
    justify-content: space-evenly;
    align-items: center;
    margin: 70px auto;
    box-sizing: border-box;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.cardboard-left{
    width: 60%;
    padding: 100px 50px;
    box-sizing: border-box;
}
.cardboard-main h1 {
    margin-top: 0;
}
.cardboard-main p {
    text-align: justify;
}
.cardboard-download {
    display: flex;
    align-items: center;
}
.cardboard-download .cardboard-contact {
    padding: 7px 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.cardboard-download .cardboard-contact:hover{
    background-color: gray;
}
.cardboard-download .cv {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 145px;
    height: 30px;
    margin-left: 20px;
}
.cv a {
    color: black;
}
.cv a img {
    width: 30px;
    position: relative;
    top: 5px;
}
.cardboard-left .cardboard-sosmed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}
.cardboard-sosmed a img{
    width:  40px;
    margin-right: 20px;
}
.cardboard-right{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardboard-right .card {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 70%;
}
.card h1{
    margin: 10px 0 0 0;
}

.card p{
    margin: 0 0 10px 0;
}

/* Responsive ketika width dibawah 1080px */
@media only screen and (max-width: 900px){
    .navbar-humberger{
        display: block;
    }
    .navbar-container{
        width: 90vw;
        height: 5vh;
    }
    .collapse {
        display: none;
    }
    #cardboard {
        display: flex;
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        margin: 5vh 5vw;
    }
    .cardboard-left, .cardboard-right{
        width: 100%;
        padding: 5% 10%;
    }
    .cardboard-download{
        margin-top: 5vh;
    }
    .cardboard-left .cardboard-sosmed {
        justify-content: center;
    }
    .cardboard-sosmed a img{
        margin-left: 10px;
        margin-right: 10px;
    }
    .cardboard-right{
        padding-bottom: 30px;
        padding-right: 0;
        padding-left: 0;
    }

}