<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet" />

    <!-- My CSS -->
    <link rel="stylesheet" href="/public/css/index.css" />

    <!-- Bootstap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <title>Personal Web</title>
  </head>
  <body>
    <!-- Navbar Start -->
    <section id="navbar" class="fixed-top">
      <nav class="navbar navbar-expand-lg bg-light px-3">
        <div class="container p-0">
          <a class="navbar-brand align" href="/">
            <img src="/public/images/logo.png" class="w-75" alt="Dumbways Logo" />
          </a>

          <!-- Toogler Navbar Start -->
          <button class="navbar-toggler justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Toggler Navbar End -->

          <!-- Navbar Item Start-->
          <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav align-items-center">
              <li class="nav-item">
                <a class="nav-link ms-2 me-2 fw-bold active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-2 me-2" href="/add-project">Add Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-2 me-2" aria-current="page" href="/testimonials">Testimonials</a>
              </li>
            </ul>
            <div class="text-center p-1">
              <a href="/contact"><button type="button" class="btn btn-dark btn-sm">Contact Me</button></a>
            </div>
          </div>
          <!-- Navbar Item End -->
        </div>
      </nav>
    </section>
    <!-- Navbar End -->

    <!-- Cardboard Start -->
    <section id="cardboard" class="px-3 bg-body-secondary">
      <div class="container bg-light shadow-lg rounded py-5 px-4">
        <div class="row align-items-center justify-content-around">
          <!-- Cardboard Left Start -->
          <div class="col-md-6 px-0 cardboard-left">
            <h1 class="mb-3">Hi Welcome to my hut</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo iusto quos pariatur, ipsa eum eaque laboriosam modi nemo aperiam numquam maiores provident beatae maxime harum natus vel ex nisi error ullam fugit? Recusandae
              nostrum sint natus iure ullam? Perferendis ab omnis autem sit tempore at fuga illum soluta qui incidunt labore repudiandae recusandae, nisi, optio, ad tenetur cum consectetur vel?
            </p>

            <div class="cardboard-download mt-5">
              <button type="button" class="btn btn-dark btn-md px-4 ms-auto rounded-5">
                <a href="/contact" class="text-decoration-none text-light">contact</a>
              </button>
              <button type="button" class="border-0 ms-3 me-auto bg-light">
                <a href="https://drive.google.com/file/d/16wPUIjW_fTciGAWk_pyJ-YK4o_ytZ7Rk/view?usp=sharing" class="text-decoration-none text-dark" target="_blank">download CV<i class="bi bi-download fs-5 ms-3"></i> </a>
              </button>
            </div>

            <div class="cardboard-sosmed mt-5">
              <a href="https://www.linkedin.com/in/sheldyrivaldi/" target="_blank"><img src="/public/images/linkedin.png" alt="linkedin" /></a>
              <a href="https://www.instagram.com/sheldyrivaldi/" target="_blank"><img src="/public/images/instagram.png" alt="instagram" /></a>
              <a href="https://web.facebook.com/sheldyrivaldi17" target="_blank"><img src="/public/images/facebook.png" alt="facebook" /></a>
              <a href="https://twitter.com/sheldyrivaldi" target="_blank"><img src="/public/images/twitter.png" alt="twitter" /></a>
            </div>
          </div>
          <!-- Cardboard Left End -->

          <!-- Cardboard Right Start -->
          <div class="col-md-4 cardboard-right shadow rounded-top p-0">
            <div class="card text-center p-0">
              <img src="/public/images/foto.jpg" class="card-img-top w-100 mb-3" alt="Sheldy Rivaldi" />
              <h1 class="mb-0">Sheldy Rivaldi</h1>
              <p>Fullstack Developer</p>
            </div>
          </div>
          <!-- Cardboard Right End -->
        </div>
      </div>
    </section>
    <!-- Cardboard End -->

    <!-- Projects Start -->
    <section id="projects">
      <div class="container bg-light">
        <h1 class="text-center fw-bold my-5">My Project</h1>
        <div class="row row-cols-2 row-cols-md-3">
          <!-- Project Items Start -->
          {{range $index, $data := .Projects}}
          <div class="col">
            <div class="card p-3 mb-4 rounded-3 shadow">
              <img src="/public/images/{{$data.Image}}" class="card-img-top rounded-3" alt="Projects" />
              <div class="card-body px-0 pt-2 pb-0">
                <div class="project-list-title lh-1 mt-2">
                  <p class="mb-1"><a class="list-title text-decoration-none text-dark fw-medium" target="_self" href="/projects/{{$index}}">{{$data.ProjectName}}</a></p>
                  <p class="list-duration text-secondary text-sm">durasi : {{$data.Duration}}</p>
                </div>
                <div class="description w-100 mt-3 overflow-y-hidden" style="height: 75px">
                  <p class="list-description">{{$data.Description}}</p>
                </div>
                <div class="technology mt-3">
                  {{range $i, $tech := $data.Technologies}}
                  <img src="/public/images/{{$tech}}.png" alt="{{$tech}}" />
                  {{end}}
                </div>
                <div class="project-list-button mt-4 d-flex justify-content-between">
                  <a href="/edit-project/{{$data.Id}}" class="edit btn btn-dark py-1">edit</a>
                  <form action="/delete-project/{{$data.Id}}" method="post" class="m-0 delete"><input type="submit" class="delete w-100 btn btn-dark py-1" value="delete" /></form>
                </div>
              </div>
            </div>
          </div>
          {{end}}
          <!-- Project Items End -->
        </div>
      </div>
    </section>
    <!-- Projects End -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
