#contact {
  padding: 150px 80px 100px 80px;
}
.container-form h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.dropdown button {
  background-color: white;
}
#message {
  resize: none;
  height: 8rem;
}

@media (min-width: 768px) {
  .container-form {
    width: 50%;
  }
}
